In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas_datareader.data as web
import datetime

In [7]:
data_1 = pd.DataFrame()
tickers = ['EWA', 'EWZ', 'EWC', 'FXI', 'EWQ', 'EWG', 'EWH', 'EWI', 'EWJ', 'EWY',
           'EWN', 'EWS', 'EZA', 'EWP', 'EWD', 'EWL', 'EWT', 'EWU', 'IVV']
q = len(tickers)
records = 0
for i in tickers:
    tmp = web.DataReader(i, 'yahoo', '1/3/2005', '12/31/2012')   #1/3 is the first business day of 2005
    data_1[i] = tmp['Adj Close']
    if records == 0:
        records = len(tmp)
    else:
        records = min(records, len(tmp))

data_1.head()

,EWA,EWZ,EWC,FXI,EWQ,EWG,EWH,EWI,EWJ,EWY,EWN,EWS,EZA,EWP,EWD,EWL,EWT,EWU,IVV
Date,,,,,,,,,,,,,,,,,,,
2005-01-03,8.217886,14.126711,12.931461,13.237745,16.154015,13.303169,7.709301,31.728643,34.990158,23.648851,12.649429,7.995531,23.410761,19.021193,12.767601,12.915568,15.704612,20.224211,88.355942
2005-01-04,8.073186,13.520161,12.553794,12.872897,15.789632,13.037824,7.522993,31.005836,34.406452,23.001278,12.464212,7.859820,22.539045,18.658321,12.447660,12.509844,15.347388,19.853024,87.292419
2005-01-05,8.103125,13.402760,12.387615,12.580059,15.809880,13.044994,7.355958,31.167849,34.374020,23.157021,12.381896,8.006838,21.926809,18.555410,12.441620,12.509844,15.281234,19.864275,86.764305
2005-01-06,8.118093,13.285370,12.319633,12.594460,15.769397,13.052168,7.426626,31.142916,34.374020,22.771757,12.416193,8.153857,21.282505,18.642071,12.465767,12.524873,15.268003,19.853024,87.116364
2005-01-07,8.108113,13.467980,12.289425,12.481648,15.722158,12.966111,7.349532,30.818907,34.179440,22.706182,12.278999,8.040765,21.396206,18.241280,12.314852,12.284440,15.148928,19.875515,86.954994

In [8]:
data_1.to_csv("data_firsthalf")

### View 1：以RSI預測ETF未來績效

In [ ]:
def cal_rsi(series):    #series: data_1["ticker"]
    up_days = series[series > 0]
    down_days = series[series < 0]
    up = up_days.mean() if len(up_days) > 0 else 0
    down = abs(down_days.mean()) if len(down_days) > 0 else 0
    return 100 * up / (up + down)

In [9]:
type(data_1['EWA'])

pandas.core.series.Series

In [12]:
change = data_1 - data_1.shift(1)
change.head()

,EWA,EWZ,EWC,FXI,EWQ,EWG,EWH,EWI,EWJ,EWY,EWN,EWS,EZA,EWP,EWD,EWL,EWT,EWU,IVV
Date,,,,,,,,,,,,,,,,,,,
2005-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-01-04,-0.144700,-0.606550,-0.377667,-0.364848,-0.364383,-0.265346,-0.186309,-0.722807,-0.583706,-0.647573,-0.185217,-0.135711,-0.871716,-0.362871,-0.319941,-0.405725,-0.357224,-0.371187,-1.063522
2005-01-05,0.029939,-0.117401,-0.166179,-0.292838,0.020248,0.007171,-0.167035,0.162012,-0.032433,0.155743,-0.082316,0.147017,-0.612236,-0.102911,-0.006041,0.000000,-0.066154,0.011251,-0.528114
2005-01-06,0.014968,-0.117390,-0.067982,0.014400,-0.040483,0.007174,0.070669,-0.024933,0.000000,-0.385263,0.034297,0.147019,-0.644304,0.086660,0.024147,0.015029,-0.013231,-0.011251,0.352058
2005-01-07,-0.009979,0.182611,-0.030209,-0.112811,-0.047238,-0.086057,-0.077094,-0.324009,-0.194580,-0.065575,-0.137194,-0.113092,0.113701,-0.400791,-0.150915,-0.240433,-0.119075,0.022491,-0.161369

In [13]:
import calendar

In [14]:
calendar.monthrange(2005, 1)

(5, 31)